@font-face {
    font-family:"PeydaWeb-ExtraBold" ;
    src: url(./font/[EC]PeydaWeb-ExtraBold.woff);
}
@font-face {
    font-family:"PeydaWeb-Medium" ;
    src: url(./font/[EC]PeydaWeb-Medium.woff);
}